html {
  font-family: 'IBM Plex Serif', serif;
}

#options {
  display: flex;
}

#genreDropdownContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#yearSelectionContainer {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#genreDropdownLabel {
  margin-right: 5px;
}

#genreDropdown {
  margin-right: 5px;
}

#yearSelectionLabel {
  margin-right: 5px;
}

.react-calendar {
  width: 50%;
}

.movieRow {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.imdbRating {
  background-color: #F5C518;
}

.genreScore {
  background-color: #F76A8C;
}

.score {
  display: inline;
  border: 1px solid black;
  padding: 3px 1px;
}
