html {
  font-family: 'IBM Plex Serif', serif;
  background-color: #CCF0E1;
}

#genreDropdownContainer {
  display: inline-block;
  margin: 5px;
}

#yearSelectionContainer {
  display: inline-block;
  margin: 5px;
}

#genreDropdownLabel {
  display: inline-block;
  margin-right: 5px;
}

#yearSelectionLabel {
  display: inline-block;
  margin-right: 5px;
}

.react-calendar {
  width: 50%;
  display: inline-block;
}

.movieRow {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 20%));
  border-top: 5px solid #F8FAB8;
  grid-row-gap: 20px;
  text-align: center;
  padding-top: 20px;
}

.imdbRating {
  background-color: #F5C518;
}

.genreScore {
  background-color: #F76A8C;
  text-align: center;
}

.score {
  display: inline-block;
  border: 1px solid black;
  padding: 3px 1px;
  width: 24px;
  height: 24px;
  margin: 0px 3px
}

.movie > p {
  height: 40px
}

.rowHeading {
  text-align: center
}

h2 {
  text-decoration: underline;
}

.subHeading {
  text-align: center
}

.select-css {
	padding: .6em 1.4em .5em .8em;
	border: 1px solid #aaa;
	border-radius: .5em;
	appearance: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #F8FAB8 0%,#F8FAB8 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
  background-color: #F8FAB8;
}

.select-css:hover {
  cursor: pointer;
}

.react-calendar__tile {
  background-color: #F8FAB8;
  border-right: 1px solid black;
  border-left: none;
  border-bottom: 1px solid black;
}

.react-calendar__tile:hover {
  background-color: #F8DC88;
  cursor: pointer;
}

.react-calendar{
  background-color: inherit
}

.react-calendar__decade-view__years {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.react-calendar__navigation__arrow {
  background-color: #F8FAB8;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
}

.react-calendar__navigation__arrow:hover {
  background-color: #F8DC88;
  cursor: pointer;
}

.react-calendar__navigation__next2-button {
  border-right: 1px solid black;
}

.react-calendar__navigation__label {
  background-color: #F8FAB8;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
}

.react-calendar__navigation {
  margin-bottom: 1px;
}

.image:hover {
  border: 5px solid #F76A8C
}

#legend {
  display: inline-block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}

@media all and (max-width: 1250px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media all and (max-width: 1050px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (max-width: 850px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 650px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
