html {
  font-family: 'IBM Plex Serif', serif;
  background-color: #CCF0E1;
}

#options {
  display: flex;
}

#genreDropdownContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#yearSelectionContainer {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#genreDropdownLabel {
  margin-right: 5px;
}

#genreDropdown {
  margin-right: 5px;
}

#yearSelectionLabel {
  margin-right: 5px;
}

.react-calendar {
  width: 50%;
}

.movieRow {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 20%));
  border-top: 5px solid #F8FAB8;
  grid-row-gap: 20px;
  text-align: center;
  padding-top: 20px;
}

.imdbRating {
  background-color: #F5C518;
}

.genreScore {
  background-color: #F76A8C;
}

.score {
  display: inline-block;
  border: 1px solid black;
  padding: 3px 1px;
  width: 24px;
  height: 24px;
  margin: 0px 3px
}

.movie > p {
  height: 40px
}

.rowHeading {
  text-align: center
}

h2 {
  text-decoration: underline;
}
